In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+
Output: 
+----+
| id |
+----+
| 2  |
| 4  |
+----+
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:

import sqlite3
import pandas as pd
from datetime import datetime, timedelta


conn = sqlite3.connect('weather.db')
cursor = conn.cursor()


cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')


data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cursor.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)
conn.commit()


cursor.execute('SELECT * FROM Weather')
print("Weather table:")
for row in cursor.fetchall():
    print(row)

print("\nSQL Solution:")

sql_query = '''
SELECT w1.id
FROM Weather w1
JOIN Weather w2 ON w1.recordDate = date(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature
'''

cursor.execute(sql_query)
sql_result = cursor.fetchall()
print("Output:")
for row in sql_result:
    print(row[0])

print("\nPython Solution:")

cursor.execute('SELECT * FROM Weather ORDER BY recordDate')
weather_data = cursor.fetchall()


df = pd.DataFrame(weather_data, columns=['id', 'recordDate', 'temperature'])
df['recordDate'] = pd.to_datetime(df['recordDate'])


def find_higher_temp_days(df):
    result = []
    for i in range(1, len(df)):
        if df.iloc[i]['temperature'] > df.iloc[i-1]['temperature']:
            result.append(df.iloc[i]['id'])
    return result

python_result = find_higher_temp_days(df)
print("Output:")
for id in python_result:
    print(id)


conn.close()

Weather table:
(1, '2015-01-01', 10)
(2, '2015-01-02', 25)
(3, '2015-01-03', 20)
(4, '2015-01-04', 30)

SQL Solution:
Output:
2
4

Python Solution:
Output:
2
4